<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 

<body>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h1>Editar artigo</h1>
            </div>
            
 
            <div class="card-body">

                <!-- |X| Recebe a lista de categorias-->
                <br>
                <label><h3>CATEGORIA</h3></label>
                
                <form method="post" action="/articles/update" >

                    <input type="hidden" name="id" value="<%= article.id %>">

                    <select name="categoryId" class="form-control">
                        <% categories.forEach((category) => { %>
                            <% if(category.id == article.categoryId) { %> 
                                <option value="<%= category.id %>" selected>
                                    <%= category.title %>
                                </option>
                            <% } else { %> 
                                <option value="<%= category.id %>">
                                    <%= category.title %>
                                </option>
                            <% } %>
                            <% }) %> 
                    </select>
                    <br>
                    <label><h3>Título</h3></label>
                    <input class = "form-control w-50" type="text" name="title" value="<%= article.title %> ">
                    <br>
                    <textarea class="form-control" placeholder="Escreva aqui seu artigo" name="body" id="article"></textarea>
                    <br>
                    <button type="submit" class = "btn-primary" style="border-radius: 3px;">Atualizar</button> 
                    <br>    
                </form>
            </div>
        </div>
    </div>

    <div id="content" style="display: none;">
        <%- article.body %> 
    </div>
</body>




<%- include('../../partials/footer.ejs') %> 
<script src="/tinymce/tinymce.min.js"></script>

<!-- |x| configurando o tiny mce -->
<script>
    tinymce.init({

        // |x| Definindo a linguagem
        // |x| O pacote com a linguagem está em /public/tinymce/langs/pt_BR.js
        language: "pt_BR", 
        // |x| Selecionando a textArea a ser incrementada   
        selector: "#article",
        // |x| Instalando funcionalidades extras
        plugins: [
           "addlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons"
        ],
        // |x| Mudando a inicialização do TinyMCE
        init_instance_callback: () => {
            //busca o textArea     seta o conteúdo,  seleciona com JQuery
            tinymce.get("article").setContent($("#content").html())
        }
    });
</script>