<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 

    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h3>ARTIGOS</h3>
                <br>
                <a class="btn btn-success" href="/adm/articles/new">NOVO ARTIGO</a>
                <br>
            </div>
            
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ITEM</th>
                            <th>TÍTULO</th>
                            <th>SLUG</th>
                            <th>DESCRIÇÃO</th>
                            <th>CATEGORIA</th>
                            <th></th>
                            <th></th>
                
                        </tr>
                    </thead>
                    <tbody>

                        <% articles.forEach(article => { %>
                            <tr>
                                <td><%= article.id %></td>
                                <td><%= article.title %></td>
                                <td><%= article.slug %></td>
                                <td><%- article.body %></td>
                                <td><%= article.category.title %></td>   
                        
                                <td>                                                                                                                                                
                                    <form action="/articles/delete" method="post" style="display: inline-block;" onsubmit="confirmDeletion(event, this);">
                                        <input type="hidden" name="id" value="<%= article.id%>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>
                                </td>

                                <td>                                                                                                                                                
                                    <form action="/adm/articles/edit/<%= article.id %>" method="get" style="display: inline-block;">
                                        <input type="hidden" name="id" value="<%= article.id%>">
                                        <button class="btn btn-warning">Editar</button>
                                    </form>
                                </td>


                                       
                            </tr>
                        <%}) %> 
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<%- include('../../partials/footer.ejs') %> 

<script>
    function confirmDeletion ( event, form ) {   //impede que o formulário seja submetido
        event.preventDefault ();
        var decision = confirm("Deseja realmente deletar esse Artigo!");
        if(decision){
            form.submit(); //se a resposta for verdadeira o formulário será enviado
        }
}
</script>