<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 

    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmDeletionModal">
            Abrir modal
        </button>


        <br>
        <div class="card">
            <div class="card-header">
                <h3>ARTIGOS</h3>
                <br>
                <a class="btn btn-success" href="/adm/articles/new">NOVO ARTIGO</a>
                <br>
            </div>
            
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ITEM</th>
                            <th>TÍTULO</th>
                            <th>SLUG</th>
                            <th>DESCRIÇÃO</th>
                            <th>CATEGORIA</th>
                            <th></th>
                            <th></th>
                
                        </tr>
                    </thead>
                    <tbody>

                        <% articles.forEach(article => { %>
                            <tr>
                                <td><%= article.id %></td>
                                <td><%= article.title %></td>
                                <td><%= article.slug %></td>
                                <td><%- article.body %></td>
                                <td><%= article.category.title %></td>   
                        
                                <td>                                                                                                                                                
                                    <form action="/articles/delete" method="post" style="display: inline-block;" onsubmit="confirmDeletion(event, this);">
                                        <input type="hidden" name="id" value="<%= article.id%>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>
                                </td>

                                <td>                                                                                                                                                
                                    <form action="/adm/articles/edit/<%= article.id %>" method="get" style="display: inline-block;">
                                        <input type="hidden" name="id" value="<%= article.id%>">
                                        <button class="btn btn-warning">Editar</button>
                                    </form>
                                </td>


                                       
                            </tr>
                        <%}) %> 
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- modal para confirmação de deleção -->
    <div class="modal fade" id="confirmDeletionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">Confirmação</h5>
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
              </button>
              
            </div>
            <div class="modal-body">
                <h5 class="modal-title text-center">Deseja excluir o Artigo?</h5>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="margin-right: 40%;">Não</button>
              <button type="button" class="btn btn-danger ">Sim</button>
            </div>
          </div>
        </div>
      </div>

<%- include('../../partials/footer.ejs') %> 

<script>
    function confirmDeletion ( event, form ) {   //impede que o formulário seja submetido
        event.preventDefault ();

        var decision = confirm("Deseja realmente deletar esse Artigo!");
        if(decision){
            form.submit(); //se a resposta for verdadeira o formulário será enviado
        }
}
</script>