<%- include('partials/header.ejs') %> 
<%- include('partials/navbar_Home.ejs') %> 

<div class="container" style="margin-top: 3%;">

    <div class="card-columns">
        <% articles.forEach(article => {%>
        <div class="card bg-ligth text-center">
            <div class="card-header">
                <h4 class="card-title"><%= article.title %></h4>
                <h5>Categoria: <%= article.categoryId %></h5>
            </div>
            <div class="card-body">
              <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
            </div>
        </div>
        <% });%>
    </div>
</div>

        
        


<%- include('partials/footer.ejs') %> 


