<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 

<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            USUÁRIOS
        </div>
        
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>          
                    </tr>
                </thead>
                <tbody>

                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.email %></td> 
                        </tr>
                    <%}) %> 
                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>